body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

canvas {
    border: 1px solid black; /* Just for visibility */
}
.player {
    width: 20px;
    height: 20px;
    background-color: red; /* Change as needed */
    position: absolute;
}